<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<div class="container">
		<a class="navbar-brand" href = "">Todo</a>
		<ul class="nav nav-tabs">
			<li><%= link_to "Todo lists", todo_lists_path %></li>
		
		<% if user_signed_in? %>
		<%= form_tag profiles_show_path, class: "form-inline", method: :get do %>
				  <div class = "form-group">
				    <%= text_field_tag :query, params[:query], class: "form-control" %>
				    <%= submit_tag "Search", class: "btn btn-primary" %>
				    <% if params[:query].present? %>
						<%= link_to "clear", profiles_show_path %>
						<% end %>
					</div>
				   <% end %>
		
    	 
		
			<li class="nav pull-right"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
		
		
			<li class="nav pull-right"><%= link_to current_user.full_name, profiles_show_path(id: current_user.profile_name) %></li>
		
		
			<li class="nav pull-right"><%= link_to "Friends", user_friendships_path %></li>
		
		<% else %>
		
			<li class="nav pull-right"><%= link_to "Sign In", new_user_session_path %></li>
		
		
			<li class="nav pull-right"><%= link_to "Sign up", new_user_registration_path %></li>
		
		<% end %>
	</ul>
		
		<br class="clear" />
	</div>
	</div>
</nav>

<div class="container">
    <% flash.each do |type, message| %>

    <div class="alert <%= type %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
      <%= message %>
    <% end %>
</div>
</div>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
